body {
    color: #434455;
    background-color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.navigation-list-main:focus {
    color: #404bbf;
    text-decoration: underline;
}

.navigation-list-main:active {
    color: #404bbf;
    text-decoration: underline;
}

.navigation-list-main:hover {
    color: #404bbf;
}


.contacts:hover {
    color: #404bbf;
}

.contacts:focus {
    color: #404bbf;
}

.button-style:hover,
.button-style:focus {
    background-color: #404bbf;
} 

ul {
    list-style-type: none;
}

.logo-left-side {
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

.logo-right-side {
    color: #2e2f42;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

.navigation-list {
    color: #2e2f42;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}

.contacts-section {
    font-style: normal;
}

.contacts {
    color: #434455;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}


.banner {
    background-color: #2e2f42;
}

.banner-title {
    color: #ffffff;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.button-style {
    color: #ffffff;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
    background-color: #4d5aE5;
    cursor: pointer;
    font-style: 'Roboto', sans-serif';
}

.features-section-name {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
}

.features-discription {
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}

.section-title {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.team {
    background-color: #f4f4fd;
}

.team-list {
    background-color: #ffffff;
}

.teammate {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
}

.teammate-position {
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
}

.project {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}

.project-type {
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}

.below-info {
    color: #f4f4fd;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}

.below {
    background-color: #2e2f42;
}
.below .logo-right-side {
    color: #f4f4fd;
}
